<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Muli|Source+Code+Pro|Roboto+Slab' rel='stylesheet' type='text/css'>
				<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7135732/681246/css/fonts.css" />

    </head>
    <body>
			<section class="global-nav">
				<ul>
				<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
				<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
				<li><a href="http://letsworkshop.com/connect">Post your freelance project (free)</a></li>
				</ul>
			</section>
			
			<!--<div class="book-course">
				<img src="http://emailsthatwin.com/book-mockup.png" style="width:70px;">
				<h3><a href="http://emailsthatwin.com">Send emails that win you clients!</a></h3>
				</div>
			</div>-->
			
        <div class="site">

          {{ content }}


					

          <div class="footer">
						<h1 class="title"><a href="/">{{ site.name }}</a></h1>
						<h3>This is where I publish articles about web design for online companies.</h3>
						<p>I don't know exactly what I'll be sharing. I'd like to share It's my portfolio of stuff I've learned and done on the web. It's for designers, developers, and online business starters.I write about the web and what I've learned about web design as a single founder of an online business. To sign up and get each article sent to your inbox when it hits, sign up here:</p>
        </div>

    </body>
</html>
