<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
				<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7135732/681246/css/fonts.css" />
				
				<!-- Gosquared Analytics code -->
				<script>
				  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
				  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
				  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
				  insertBefore(d,q)}(window,document,'script','_gs');

				  _gs('GSN-947874-D');
				</script>
				
				<!-- Google analytics -->
				
				<script>
				  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				  ga('create', 'UA-45184123-5', 'auto');
				  ga('send', 'pageview');

				</script>

    </head>
    <body>
			<section class="global-nav">
				<ul>
				<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
				<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
				<li><a href="http://letsworkshop.com/connect">Post your freelance project (free)</a></li>
				</ul>
			</section>
			
			<!--<div class="book-course">
				<img src="http://emailsthatwin.com/book-mockup.png" style="width:70px;">
				<h3><a href="http://emailsthatwin.com">Send emails that win you clients!</a></h3>
				</div>
			</div>-->
			
        <div class="site">

          {{ content }}


					

          <div class="footer">
						<h1 class="title"><a href="/">{{ site.name }}</a></h1>
						<h3>This is where I publish articles about web design for online companies.</h3>
						<p>To get each article sent to your inbox when it hits sign up here:</p>
						<form action="https://www.getdrip.com/forms/7627291/submissions" method="post" target="_blank" data-drip-embedded-form="3704">
						    <div>
						      <input placeholder="Name" type="text" name="fields[name]" value="" />
						    </div>
						    <div>
						      <input placeholder="Email Addresss" type="text" name="fields[email]" value="" />
						    </div>
						  <div>
						    <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
						  </div>
						</form>
        </div>

    </body>
</html>
